h1 {
  color: blue;
  text-align: center;
}

table {
  color: green;
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: bold;
  border: 3px solid blue;
  border-collapse: collapse;
  width: 50%;
}

td, tr {
  border: 1px solid blue;
  padding: 5px;
  text-align: center;
}

th {
  border: 1px solid blue;
  background-color: lightgray;
}

div {
  height: inherit;
  margin-left: 40px;
}

span {
  background-color: pink;
}
